PORT=3001
VITE_PORT=5173
# Use /api for relative paths (same domain), or full absolute URL
VITE_API_BASE_URL=/api

# Security
# openssl rand -base64 32 to generate a random secret key
JWT_SECRET=your_secret_key_here